DocsRevision/DocsRevision.API/.vs
DocsRevision/DocsRevision.API/DocsAPI/bin
DocsRevision/DocsRevision.API/DocsAPI/obj
DocsRevision/DocsRevision.Xamarin/.vs
DocsRevision/DocsRevision.Xamarin/DocsRevision/bin
DocsRevision/DocsRevision.Xamarin/DocsRevision.Android/obj
DocsRevision/DocsRevision.Xamarin/DocsRevision.iOS/bin
DocsRevision/DocsRevision.Xamarin/DocsRevision/obj
DocsRevision/DocsRevision.Xamarin/DocsRevision.iOS/obj
DocsRevision/DocsRevision.API/.vs
